.boundingBox {
  display: block;
  position: absolute;
  background-color: white;
  height: 80%;
  width: 80%;
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.boundingBox::-webkit-scrollbar {
  display: none;
}

#searchBar,
#tagSearchBar {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  padding-top: 10px;
  border: none;
  border-bottom: 1px solid lightgrey;
  outline: none;
}

.inputBox {
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}

.searchBars {
  display: block;
  top: 0;
  background-color: white;
  position: sticky;
  z-index: 99;
}