@font-face {
  font-family: myHeaderFont;
  src: url(Raleway-Medium.woff);
}

@font-face {
  font-family: myFont;
  src: url(Raleway-ExtraLight.woff);
}

* {
  font-family: myFont;
}

body {
  background-color: lightgrey;
}
